@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*COMIENZA RESET*/

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #b2c5eb;
    text-align: center;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #8F9FBF;
}

/* header a{
    text-decoration: none;
} */

/* header,
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

/* nav ul {
    padding: 0em 1.5em;
} */

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    padding-left: 0%;
}


.logo-footer {
    height: 80px;
    margin-bottom: 1rem;
}

.iconos-redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.iconos-redes {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    background-image: url(../assets/img/instagram-logo.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.iconos-redes:hover {
    background-color: #121212;
    filter: invert(1);
}

.iconos-redes:nth-last-of-type(2) {
    background-image: url(../assets/img/whatsapp-logo-.png);
}

.iconos-redes:nth-last-of-type(3) {
    background-image: url(../assets/img/correo-icono.png);
}

.copyright {
    color: #F2F2F2;
    opacity: 0.3;
    text-align: center;
}

/*COMIENZA INDEX*/

.logo {
    width: 3.5em;
    margin: 0.25em;

}

.navIndex a {
    color: #F2F2F2;
    margin: 0.3em;
}

.oversityStore {
    font-size: 4em;
}

.indexEnvios {
    font-size: 1em;
}

.contenedorIndex {
    padding: 1em;
}

.contenedorIndex h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
}

.cartasContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cartas {
    margin: 7em 1em;
    width: 20em;
}

svg {
    margin-bottom: 0.5em;
}

.oferta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: 0.5em
}

.formularioOferta {
    margin-bottom: 7em;
}

.formularioOferta p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em;
}

#correoElectronico {
    height: 2em;
    margin-bottom: 1em;
    width: 17em;
    outline: none;
}

.botonIndex {
    text-decoration: none;
    border: 3px solid rgba(100, 100, 100, 0.1);
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    background-size: 300%;
    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
}

.botonIndex:hover {
    transform: scale(1.1);
    cursor: pointer;
    color:#FFF
}

/*COMIENZA PRODUCTOS*/

/* .shop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    margin: 1em;
} */

/* .botonCompra {
    border: 3px solid rgba(100, 100, 100, 0.1);
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    background-size: 300%;
    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
} */

/* .botonCompra:hover {
    transform: scale(1.1);
    cursor: pointer;
} */

/* .galeria-productos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
} */

/* .galeriaImg {
    width: 15em;
    border-radius: 10px;
} */

/* .contenedorImg {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 15.1em;
    height: 24em;
    margin: 15px;
    text-align: center;
    line-height: 40px;
    transition: all 300ms ease;
} */

/* .contenedorImg:hover {
    transform: scale(1.1);
    cursor: pointer;
} */

/* .contenedorImg h2 {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
} */

/*COMIENZA CONTACTO*/

.contacto {
    font-size: 1.5em;
    margin: 1em;
}

.formulario {
    background-color: #fff;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 8em;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.formContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2.5em;
}

.formGrupo {
    position: relative;
    --color: #5757577e;
}

.formInput {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.formInput:focus,
.formInput:not(:placeholder-shown) {
    color: #4d4646;
}

.formInput:focus+.formLabel,
.formInput:not(:placeholder-shown)+.formLabel {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}


.formLabel {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.formSubmit {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.formSubmit {
    border: 3px solid rgba(100, 100, 100, 0.1);
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    color: #FFF;
    background-size: 300%;
    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
}

.formLine {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.formInput:focus~.formLine,
.formInput:not(:placeholder-shown)~.formLine {
    transform: scale(1);
}


/*COMIENZA GUIA DE TALLES*/

.guiaDeTalles {
    font-size: 1.5em;
    margin: 1em;
}

.prendas li {
    margin: 1em;
}

.prendas h2 {
    margin: 1em;
}

.remeras {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2em;
}

.oversized {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2em;
}

.jeans {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2em;
}

.buzos {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2em;
}

/*COMIENZA POLITICA DE DEVOLUCION*/

.tituloPolitica {
    font-size: 1.5em;
    margin: 2em;
}

.politica {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 3em;
}

.politicaParrafo {
    margin: 1em;
}

.politicaParrafo h2 {
    font-size: 1em;
    margin-bottom: 1em;
}

.politicaParrafo p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* MEDIA QUERIES */

@media screen and (max-width:767px) {
    .oversityStore {
        font-size: 3em;
    }

    .cartasContainer {
        display: flex;
        flex-direction: column;
        padding: 4em;
    }

    .formularioOferta p {
        padding: 1em;
    }

    .cartas {
        margin: 2em;
    }

    .galeria-productos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        padding: 1em;
    }

    .contenedorImg{
        backdrop-filter: none;
    }

    .shop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .remeras, .oversized, .jeans, .buzos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        backdrop-filter: none;
    }

    .tituloPolitica{
        margin: 1em;
    }

    .politica{
        width: 100%;
    }

    .copyright {
        font-size: small;
    }
}

@media screen and (min-width:1024px) {
    .contenedorImg {
        margin: 4em;
    }
}